DATABASE_URL="postgresql://USUARIO:SENHA@HOST/neondb?sslmode=require"
JWT_SECRET="gere-um-segredo-aleatorio-com-pelo-menos-32-caracteres"
PORT=3333
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-3.8-flash"
# Usados só pelo comando npm run admin:create
ADMIN_NAME="Administrador"
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
